{% extends 'layout.twig' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="secHeader">
                    <h1 class="text-center">Про нас / Контакти</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                Компанія «В Карпати» успішно працює в сфері туристичних послуг з 2005 року.
                Ми пропонуємо своїм клієнтам найякісніший сервіс та різноманітний відпочинок по всій західній Україні.<br /><br />

                Наша команда складається з кваліфікованих фахівців, які забезпечують максимальну якість обслуговування та індивідуальний підхід до кожного клієнта.<br /><br />

                Наші гіди є сертифікованими фахівцями і туристами з великим досвідом походів різної складності.<br /><br />

                <b>Наші принципи роботи:</b><br /><br />

                Ми дорожимо кожним нашим клієнтом і приділяємо максимум нашої уваги.<br />
                Ми підбираємо і пропонуємо тільки найкращі маршрути які розробили самостійно і перевірили їх.<br />
                Ми ретельно стежимо, щоб всі наші клієнти залишилися задоволені відпочинком і роботою нашої компанії.<br /><br />

                <b>Наші переваги:</b><br /><br />

                Співпраця з надійними партнерами.<br />
                Кваліфіковані менеджери і персонал з досвідом роботи понад 5 років.<br />
                Наша мета - Ваші позитивні емоції від відпочинку!<br />
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="row">
                    <div class="col-xs-6">
                        <b>Сергій Александров</b>
                    </div>
                    <div class="col-xs-6">
                        тел. (067) 153-84-15 <br />
                        <a href="https://vk.com/alex_tour"> сторiнка VK </a><br />
                        E-mail: info@vkarpati.in.ua
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}