<html>
<head>
    <title>Туристична агенція "У Карпати"</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="{{ url('homepage') }}view/css/ie/html5shiv.js"></script><![endif]-->
    <script src="{{ url('homepage') }}view/js/skel.min.js"></script>
    <script src="{{ url('homepage') }}view/js/init.js"></script>
    <noscript>
        <link rel="stylesheet" href="{{ url('homepage') }}view/css/skel.css" />
        <link rel="stylesheet" href="{{ url('homepage') }}view/css/style.css" />
        <link rel="stylesheet" href="{{ url('homepage') }}view/css/style-wide.css" />
        <link rel="stylesheet" href="{{ url('homepage') }}view/css/style-noscript.css" />
    </noscript>
    <!--[if lte IE 9]><link rel="stylesheet" href="{{ url('homepage') }}view/css/ie/v9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ url('homepage') }}view/css/ie/v8.css" /><![endif]-->
</head>
<body class="loading">
<div id="wrapper">
    <div id="bg"></div>
    <div id="overlay"></div>
    <div id="main">
        <!-- Header -->
        <header id="header">
            <h1>Запрошуємо до Карпат</h1>
            <p><a href="{{ url('about') }}"> Про нас / Контакти </a> &nbsp;&bull;&nbsp; <a href="{{ url('tours') }}"> Наші тури</a> &nbsp;&bull;&nbsp; <a href="{{ url('order') }}">Замовити тур</a></p>
        </header>

        <!-- Footer -->
        <footer id="footer">
            <span class="copyright"> Copyright &copy; 2016 vkarpati.in.ua </span>
        </footer>

    </div>
</div>
</body>
</html>