{% extends 'layout.twig' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="secHeader">
                    <h1 class="text-center">Оформлення замовлення</h1>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-6 col-xs-12">
                <h2>Iнформація про оплату</h2>
                <p>Після оплати з Вами зв'яжеться наш менеджер і підтвердить оформлення замовлення.</p>
                <p>У разі якщо з якихось причин у Вас не вийде піти в похід і ви захочете повернути гроші, Ви можете зв'язатися з нашим менеджером за контактним номером телефону і анулювати замовлення.</p>
                <p>Ми повернемо Вам всю суму за вирахуванням комісії банку</p>
                <p>Наша компанія не повертає гроші за похід якщо ви вирішили не брати участь пізніше ніж за 7 днів до походу, під час проведення походу.</p>
                <p><B>Всі зароблені гроші будуть передані благодійному фонду який допомагає дітям із вадами серця.</B></p>
            </div>
            <div class="col-sm-6 col-xs-12">

                    <form class="form-horizontal" method="POST" accept-charset="utf-8" id="payForm">

                        <div class="form-group">
                            <div class="col-xs-6">
                                <input type="text" class="form-control" id="name" placeholder="Введіть ім'я">
                            </div>

                            <div class="col-xs-6">
                                <input type="tel" class="form-control" id="phone" placeholder="Введіть номер телефону">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <select size="1" id="tur" class="form-control">
                                    <option selected disabled>Назва туру</option>
                                    <option value='синевир'>ОЗЕРО СИНЕВИР</option>
                                    <option value='чорногор'>ПОХІД-РЕЛАКС ЧОРНОГОРОЮ</option>
                                    <option value='горгани-1'>ДИКІ ГОРГАНИ-1</option>
                                </select>
                            </div>
                            <div class="col-xs-6">
                                <input type="text" class="form-control" id="count" placeholder="Кількість людей">
                            </div>
                        </div>

                        <input type="hidden" name="ik_co_id" value="57c6b2943c1eaf5d4f8b4573" />
                        <input type="hidden" name="ik_pm_no" value="{{ pay_id }}" />
                        <input type="hidden" id="ik_desc" name="ik_desc" value="" />
                        <input type="hidden" name="ik_int" value="json" />
                        <input type="hidden" name="ik_act" value="process" />

                        <div class="form-group">
                            <div class="col-xs-6">
                                <select size="1" id="cur" class="form-control">
                                    <option selected disabled>Виберіть валюту</option>
                                    <option id='rub' value='rub'>Руб</option>
                                    <option id='usd' value='usd'>Usd</option>
                                    <option id='eur' value='eur'>Eur</option>
                                    <option id='uah' value='uah'>Грн</option>
                                    <option id='xts' value='xts'>xts</option>
                                </select>
                            </div>
                            <div class="col-xs-6">
                                <select size="1" id="paymetsel" name="ik_pw_via" class="form-control">
                                    <option value="">Виберіть платіжну систему</option>
                                    {% for paymetod in paymetods %}
                                        <option value="{{ paymetod.als }}" class="{{ paymetod.curAls }}">{{ paymetod.name.0.v }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <script>
                            jQuery(document).ready(function(){
                                jQuery("#paymetsel").chained("#cur");
                            });
                        </script>
                        <script>
                            (function($){
                                $('#tur').on('change',calc);
                                $('#count').on('keyup',calc);
                                function calc(){
                                    var ta = {'синевир':'600', 'чорногор':'850', 'горгани-1':'750'};
                                    var tv = $('#tur').val();
                                    var co = $('#count').val() || '1';
                                    var rcost = ta[tv] * co;

                                    $('#rcost').text(rcost);
                                    $('#fincost').val(rcost);

                                };
                            })(jQuery);
                        </script>

                        <script>
                            (function($){
                                $('#count').on('keyup',function () {
                                    var dn = $('#name').val();
                                    var dp = $('#phone').val();
                                    var dt = $('#tur').val();
                                    var dс = $('#count').val();

                                    $('#ik_desc').val('Клиент ' + dn + ' с номером телефона ' + dp + ' заказал тур "' + dt + '" на ' + dс + ' человек.');
                                })
                            })(jQuery);

                        </script>



                        <div class="cost col-xs-12">Вартість послуги <span class="cost_val" id="rcost"> -- </span> грн. *</div>
                        <input type="hidden" name="ik_am" id="fincost" value="" />
                    </form>
                    <div class="col-xs-12 cost_text">* Остаточна вартість може відрізнятися в залежності від платіжної системи та обраної валюти.</div>

                    <form id="sendpay" class="text-center" style="display: block"></form>

            </div>

            <script>

                (function($){
                    $('#paymetsel').on('change',function(){query(); });

                    var query = function(){
                        var ajax = $.ajax({
                            url: 'https://sci.interkassa.com/',
                            data: $('#payForm').serialize(),
                            dataType: 'json',
                            type: 'post'
                        });
                        ajax.done(function(json){
                            if (typeof json['resultData'] != 'undefined'){
                                var j = json['resultData']['paymentForm'];
                                var f = $('#sendpay');

                                if (typeof j['method'] != 'undefined' && typeof j['action'] != 'undefined' && typeof j['parameters'] != 'undefined'){
                                    f.html("")
                                            .attr("method",j['method'])
                                            .attr("action",j['action']);

                                    $.each (j['parameters'], function( k, v ){
                                        f.append('<input type="hidden" name="'+ k +'" value="'+ v +'">');
                                    });

                                    f.append('<button type="submit" class="btn btn-success">Оплатить</button>');
                                    f.show(300);
                                }
                            }
                        }).fail(function(){

                        });
                    };
                })(jQuery);

            </script>

        </div>

        </div>
    </div>
{% endblock %}
