{% extends 'layout.twig' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="secHeader">
                    <h1 class="text-center">Наші тури</h1>
                </div>
            </div>
        </div>
        <div class="row">
            {% for tour in tours%}
            <div class="col-sm-12">
                <div class="row">
                    <div class="profil-image col-xs-12 col-sm-4 text-center"><img src="{{ tour.photo }}" alt="{{ tour.title }}"></div>
                    <div class="content col-xs-12 col-sm-8">
                        <div class="row">
                            <h2 class="col-sm-12 text-center secHeader">{{ tour.title }}</h2>
                            <div class="col-sm-12">{{ tour.desc | raw}}</div>
                            <div class="col-sm-12 text-center"><a href="{{ url('order') }}" class="btn btn-success">Замовити</a> </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
