@font-face {
    font-family: 'HCB';
    src: url('../fonts/HeliosCondBlack.eot');
    src: url('../fonts/HeliosCondBlack.eot') format('embedded-opentype'), url('../fonts/HeliosCondBlack.woff') format('woff'), url('../fonts/HeliosCondBlack.ttf') format('truetype'), url('../fonts/HeliosCondBlack.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HC';
    src: url('../fonts/HeliosCompressed.eot');
    src: url('../fonts/HeliosCompressed.eot') format('embedded-opentype'), url('../fonts/HeliosCompressed.woff') format('woff'), url('../fonts/HeliosCompressed.ttf') format('truetype'), url('../fonts/HeliosCompressed.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HCL';
    src: url('../fonts/HeliosCondLight.eot');
    src: url('../fonts/HeliosCondLight.eot') format('embedded-opentype'), url('../fonts/HeliosCondLight.woff') format('woff'), url('../fonts/HeliosCondLight.ttf') format('truetype'), url('../fonts/HeliosCondLight.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HL';
    src: url('../fonts/HeliosLight.eot');
    src: url('../fonts/HeliosLight.eot') format('embedded-opentype'), url('../fonts/HeliosLight.woff') format('woff'), url('../fonts/HeliosLight.ttf') format('truetype'), url('../fonts/HeliosLight.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
	font-family: 'HCL';
    font-size: 16px;
}

body{
    background-image: url("../images/footer/bg.png");
    background-repeat: no-repeat;
    background-position: bottom center;
}

a {
	color: #00ACE9;
}

a:hover {
	text-decoration: none;
}

p {
	color: #777;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: 400;
}

img {
  	max-width: 100%;
  	height: auto;
  	width:100%;
}

.templatemo_footer {
	font-size: 13px;
}

.btn-primary {
  background-color: #00ACE9;
  border-color: #00ACE9;
}

.header{
    background-image: url("../images/header/1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.head-text{
    text-align: center;
    color: #fff;
    margin-bottom: 15px;
    font-size: 35px;
    text-shadow: 3px 2px 3px #000;
}

.head-text-i{
    font-style: italic;
    font-family: 'HCL';
}

.head-text-2{
    text-transform: uppercase;
    font-family: 'HL';
}

.mainTop {
	margin: 0;
    background-color: #000;
}
.mailme {
	line-height: 36px;
}
.fa-envelope {
	margin-right: 10px;
}
.socials {
	overflow: hidden;
}
.socials ul {
	padding-left: 0;
	margin-bottom: 0;
	float: right;
}
.socials ul li {
	display: inline-block;
	list-style-type: none;
}
.socials ul li a {
	display: block;
}
.socials ul li a:hover {
	background-color: #00ACE9;
	color: whitesmoke;
}
.soc {
	width: 38px;
	height: 38px;
	text-align: center;
	font-size: 20px;
	line-height: 38px;
}

/* IMG slider TXT */
.imgTxt {
  color: white;
	text-align: center;
}
.txtWrap1 {
  color: white;
	margin: 0 auto;
}
.txtWrap1 ul {
	margin-bottom: 20px;
  padding-left: 0;
}
.txtWrap1 ul li {
	list-style-type: none;
	display: inline-block;
}
.tinyCell {
	width: 45px;
	height: 10px;
	border-bottom: 2px solid white;
	position: relative;
	top: -30px;
	margin: 0 30px;
}
.txtWrap1 h2 {
	text-transform: uppercase;
	font-weight: 100;
	margin-bottom: 0;
}
.txtWrap1 h1 {
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 3px;
	margin-top: 0;
}

.txtWrap2 {
  color: white;
  margin: 0 auto;
}
.txtWrap2 p {
	margin-bottom: 30px;
	color: white;
	font-weight: 100;
}
.listContact,
.listButton {
  color: white;
	list-style-type: none;
	padding-left: 0;
	margin-top: 40px;
}
.listContact li {
	margin: 0 10px;
	font-weight: 100;
}
.listContact i,
.listContact span {
	margin-right: 10px;
}
.listContact li,
.listButton li {
	display: inline-block;
}
.listButton li {
	margin: 0 10px;
}
.listButton li a {
	color: whitesmoke;
	padding: 10px 35px;
	border: 1px solid whitesmoke;
	display: block;
}
.listButton li a:hover {
	cursor: pointer;
}

/* logo + main menu */
.mWrapper {
	margin-bottom: 50px;
	box-shadow: 0 4px 4px -2px #ddd;
  	width: 100%;
  	background-color: #000000;
    opacity: 0.75;
  	z-index: 15;
}
.logo {
	padding: 7px 0px;
}
.mainMenu {

}
.mainMenu ul {
	float: right;
	padding-left: 0;
	margin-bottom: 0;
}
.mainMenu li {
	list-style-type: none;
	display: inline-block;
}
.mainMenu li a {
	display: block;
	text-transform: uppercase;
	padding: 20px;
    color: #FFF;
    font-family: 'HCB';
}
.mainMenu li a:hover {
	background-color: #FFF;
	color: #000;
}

.btn-reg{
    margin-top: 10px;
    text-transform: uppercase;
    font-family: 'HCB';
    letter-spacing: 3px;
    font-size: 20px;
}

.content{
    margin-top: 30px;
}

/* ------ block 1 -------- */

.cb1{
    min-height: 640px;
}

.cb1 img{
   width: 65%;
   float: left;
}

.cb1-text-block{
    font-family: "HCL";
    font-size: 18px;
}

.cb1-text-block div{
    float: right;
}

.cb1-text1{
    text-align: left;
}

.cb1-text2{
    text-align: right;
    color: #ed1c24;
}

.cb1-2 img{
    float: right;
    margin-left: -95px;
    margin-top: 60px;
    position: absolute;
    width: 525px;
    z-index: 2;
}

.cb1-3 img{
    float: right;
    margin-left: -280px;
    margin-top: 275px;
    position: absolute;
    width: 400px;
    z-index: 3;
}

.cb1-text-block2{
    margin-left: 40px;
    margin-top: 387px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    font-family: "HCL";
    z-index: 4;
}

.cb1-text-block2-1{
    font-size: 18px;
}

.cb1-text-block2-2{
    font-size: 55px;
    font-style: italic;
    color: #00ace9;
}

.cb2-1{
    font-family: "HCB";
    font-size: 48px;
    margin-top: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.cb2-2{
    font-family: "HCL";

    color: #ed1c24;
    font-size: 22px;
}


.section1,
.section2,
.section3,
.section4,
.section5 {
    background-color: #fff;
    padding-bottom: 30px;
    padding-top: 20px;
    margin-top: 30px;
    position: relative;
}

.section1::before, .section1::after,
.section2::before, .section2::after,
.section3::before, .section3::after,
.section4::before, .section4::after{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 4px 30px rgba(0,0,0,0.8);
    -moz-box-shadow:0 4px 30px rgba(0,0,0,0.8);
    box-shadow:0 4px 30px rgba(0,0,0,0.8);
    top: 62%;
    bottom:0;
    left: 20%;
    right: 20%;
    -moz-border-radius:50%;
    border-radius: 50%;
}

/* section 1 */
.secHeader {
    width: 60%;
    margin: 0 auto;
}
.secHeader p {
    letter-spacing: 1px;
}

.block-figur .circle{
    margin:0px auto;
}

/* круг */

.circle {
    width: 150px;
    height: 150px;
    background: #cccccc;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
    position: relative;
    display: block;
}

/* шестигранник */

.hexagon {
    width: 100px;
    height: 55px;
    left: 25px;
    top: 48px;
    background: #fff;
    position: relative;
    box-shadow: 11px 6px 20px rgba(0, 0, 0, 0.5);
}
.hexagon:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid #fff;
}
.hexagon:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid #fff;
}

.circle .hexagon .fa{
    font-size: 52px;
}

.blok h4{
    color: #ed1c24;
    font-size: 18px;
    text-transform: uppercase;
}

.section1 .blok p{
    font-size: 18px
}

.texts {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.s2-l{
    background-image: url("../images/content/ibl.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100% auto;
    height: 355px;
    width: 45%;
    text-align: center;
}

.s2-r{
    background-image: url("../images/content/ibr.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% auto;
    height: 355px;
    width: 55%;
}

.s2-1-1{
    font-family: "HCB";
    font-size: 30px;
    margin-top: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.s2-1-3{
    font-size: 12px;
    text-align: left;
    display: block;
    position: relative;
    bottom:-150px;
    left: 10px;
}

.s2-r-1{
    color: #fff;
    font-family: "HCB";
    font-size: 30px;
    margin-top: 125px;
    margin-right: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    float: right;
	text-shadow: 2px 3px 5px #000;
}

.s2-r-1 a{
    color: #fff;
}
.s2-r-1 a:hover{
    color: #ed1c24;
}

.timer{
    background-color: #00ace9;
    color: #fff;
    height: 120px;
}

.timer-text{
    font-size: 42px;
    text-align: left;
    text-transform: uppercase;
    padding-left: 30px;
}
.timer-timer{
    font-size: 80px;
    text-align: center;
}

.mosaicflow__item {
    position:relative;
}
.mosaicflow__column {
    float:left;
}
.mosaicflow__item img {
    display:block;
    width: 100%;
    height:auto;
}
.mosaicflow__item img:hover {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.mosaicflow__item p {
    text-align: center;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    margin:0;
    padding:5px;
    color:#fff;
    font-size:16px;
    text-shadow:1px 1px 1px hsla(0,0%,0%,.75);
    opacity:0;
    -webkit-transition: all 0.4s cubic-bezier(0.23,1,0.32,1);
    -moz-transition: all 0.4s cubic-bezier(0.23,1,0.32,1);
    -o-transition: all 0.4s cubic-bezier(0.23,1,0.32,1);
    transition: all 0.4s cubic-bezier(0.23,1,0.32,1);
}
.mosaicflow__item:hover p {
    opacity:1;
}

/* Магия с переключателями и чекбоксами */
.checkbox {
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 17px;
    height: 17px;
}

.checkbox + label {
    cursor: pointer;
}

.checkbox:not(checked) {
    position: absolute;
    opacity: 0;
}
.checkbox:not(checked) + label {
    position: relative;
    padding: 0 0 0 60px;
}

.checkbox:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 50px;
    height: 26px;
    border-radius: 13px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}

.checkbox:not(checked) + label:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    transition: all .2s;
}

.checkbox:checked + label:before {
    background: #9FD468;
}

.checkbox:checked + label:after {
    left: 26px;
}

.checkbox:focus + label:before {
    box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}

/* footer */
footer {
  margin-top: 700px;
  background-color: #000;
  opacity: 0.75;
  height: 35px;
  color: #fff;
  text-align: center;

}

.fmail{
    padding-top: 7px;
}

.gotop {
  background-color: #ddd;
  padding: 15px 0;
  opacity: 0.75;
}
.bfWrap {
  padding: 20px 0;
}

/* profil page*/

.profil-image{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin-bottom: 10px;
}

.btn-find-form{
    margin-top: 20px;
}

/*pay form*/
.cost{
    margin: 5px auto;
}

.cost_val{
    color: #4CAE4C;
    font-size: 20px;
}
.cost_text{
    font-size: 12px;
}

/* Smartphones (portrait and landscape) ----------- */
@media(max-width:1199px){
	.mailme {
		
	}
	.logo {
		text-align: center;
	}
	.socials ul {
		float: none;
		text-align: center;
	}
	.mainMenu ul {
		float: none;
		text-align: center;
	}
	.mainMenu li a {
		padding: 10px;
	} 

	.btn-reg {
		margin-top: 5px;
	}	
  
  .cb1-2{
	  display:none;
  }
  
  .cb1 img{
	  width: 55%;
  }
  
  .cb1-3 img{
	  position: relative;
	  margin: 0;
  }
  
  .cb1-text-block2{
	margin-left: 0;
	margin-top: 300px;
  }
  
  .cb1-text-block2-1 {
		font-size: 14px;
	}
	.cb1-text-block2-2 {
		font-size: 45px;
	}
	
	.s2-l {
		height: 232px;
	}
	
	.s2-r {
		height: 232px;
	}

	.s2-1-1 {
		font-size: 25px;
		margin-top: 5px;
	}
	
	.cb2-2 {
		font-size: 19px;
	}
	
	.s2-1-3 {
		bottom: -70px;
	}
	
	.s2-r-1 {
		margin-top: 100px;
		margin-right: 10px;
	}
	
	.timer-text{
		font-size: 35px;
	}
}

@media(max-width:992px){
	.btn-reg {
		margin-top: 0px;
	}
	
	.cb1-text-block2 {
		margin-top: 220px;
	}
	
	.timer {
		height: 250px;
	}
	
	.timer-text {
		font-size: 50px;
		text-align: center;
		padding-left: 0px;
	}
	.footer {
		height: 135px;
	}
	
	.cb1 {
		min-height: 520px;
	}
}

@media(max-width:767px){
	.btn-reg-div {
		float: none;
		text-align: center;
		margin: 0 auto;
	}
	
	.s2-l , .s2-r{
		width: 100%;
		height: 330px;
	}
	.s2-1-1 {
		font-size: 50px;
	}
	.cb2-2 {
		font-size: 35px;
	}
	.s2-1-3 {
		font-size: 22px;
		text-shadow: 0px 1px 5px #fff;
	}
}

@media(max-width:720px){
	.cb1 img {
		float:none;
		width: 100%;
		height: 200px;
	}
	.cb1-text-block div {
		float:none;
		text-align: center;
	}
	.cb1-text2{
		margin-top: -26px;
	}
	
	.cb1-text-block2 {
		margin: 0;
		position: relative;
	}
}

@media(max-width:610px){
	.s2-1-3 {
		bottom: 0px;
	}
	.cb2-1 {
		font-size: 25px;
		margin-top: 5px;
	}
}

@media(max-width:670px){
	.s2-1-1 {
		font-size: 40px;
	}
	.cb2-2 {
		font-size: 25px;
	}
	.s2-1-3 {
		font-size: 19px;
	}
	.timer {
		height: 145px;
	}
	.timer-text {
		font-size: 30px;
	}
	.timer-timer {
		font-size: 50px;
	}
}

@media(max-width:571px){
	.s2-1-1 {
		font-size: 35px;
	}
	.cb2-2 {
		font-size: 30px;
	}
	
	.section1::before, .section1::after, .section2::before, .section2::after, .section3::before, .section3::after, .section4::before, .section4::after {
    content: "";
    left: 0;
    right: 0;
    -moz-border-radius: 30%;
    border-radius: 30%;
	}
}

@media(max-width:475px){
	.s2-1-3 {
		font-size: 16px;
	}
}

@media(max-width:415px){
	.s2-l, .s2-r {
		width: 100%;
		height: 220px;
	}
	.s2-1-3 {
		display:none;
	}
	.section1 .blok p {
		font-size: 16px;
	}
	.cb2-2 {
		font-size: 20px;
	}
}

@media(min-width:1199px){
	.mainMenu li a {
		padding: 20px 10px;
	}
  .socials ul {
    float: none;
    text-align: center;
  }  
}

